<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <ul>
        <% for(var j=0;j<images.length;j++){ %>
        <li><img src="../<%= albumName%>/<%= images[j]%>"></li>
        <% } %>
    </ul>

    <style>
        img{
            width: 200px;
            height: 200px;
            float:left;
        }
    </style>
</body>
</html>