<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建文件及</title>
</head>
<body>
    <form action="#" enctype="multipart/form-data" method="post">
        新建文件夹：<input type="text" name="dirname">
        <input type="submit" value="提交">
        <a href="/admin">返回</a>
    </form>
</body>
</html>